* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

/* #0B090A  #161A1D  #660708  #A4161A  #BA181B  #E5383B  #B1A7A6  #D3D3D3  #F5F3F4  #FFFFFF*/

a {
    text-decoration: none;
    color: #0B090A;
    font-size: 1.6rem;
}

a:hover {
    cursor: pointer;
    color: #A4161A;
    font-weight: 600;
}

button:disabled {}

body {
    /*background: linear-gradient(0deg, #EABFCB, #C191A1, #A4508B, #9c4281);*/
    background-color: #D3D3D3;
    animation: gradientMove 15s ease infinite;
    height: 100vh;
    width: 30rem;
    width: 80%;
    margin: auto;
    font-family: "IM Fell English", serif;
}

header {
    margin: 3.5rem 0px 3.5rem 0px;

}

.cat-name {
    display: flex;
    align-items: center;
}

.cat-gif {
    width: 10rem;
}

.icon {
    width: 5rem;
    height: 4rem;
}


#navegacao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.6rem;
}

#navegacao h2 {
    font-size: 1.6rem;
}

.separacao {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

nav {
    display: flex;
    gap: 3.2rem;
    align-items: center;
}

.perfil {
    width: 36.8rem;
    height: 36.8rem;
    border-radius: 400rem;
}

#apresentacao {
    display: flex;
    justify-content: space-between;
}

.apresentacaoTexto {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 72%;
}

.apresentacaoTexto h1 {
    font-size: 5.2rem;
    font-family: "Pirata One", system-ui;
}

.apresentacaoTexto p {
    font-size: 2.2rem;
}

#sobre-mim {
    background-color: #E5383B;
    width: 100vw;
    padding: 2rem 0;
    margin-left: calc((100% - 100vw) / 2);
}

.sobre-mim-container {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    color: white;
}

.sobre-mim-container h3 {
    font-family: "Pirata One", system-ui;
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
}

.sobre-mim-container p {
    font-size: 2rem;
}

#skills,
#hobbies,
#formacao,
#projetos {
    margin-top: 3.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#formacao {
    background-color: #E5383B;
    width: 100vw;
    padding: 2rem 0;
    margin-left: calc((100% - 100vw) / 2);
    color: white;
}

#skills h3,
#hobbies h3,
#formacao h3,
#projetos h3 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.skills-icons,
.hobbies-icons,
.projetos-info {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    font-size: 1.6rem;
}

.formacao-info {
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

.projetos-info {
    display: flex;
    justify-content: space-around;
}

.projeto h2 {
    font-size: 2.5rem;
}

.projeto p,
.projeto a {
    font-size: 2rem;
}


.skill-block,
.hobbies-block {
    width: 20%;
    padding: 1rem;
}

.skill-block img,
.hobbies-block img {
    width: 17.6rem;
    height: 17.4rem;
}

#contato {
    margin-top: 3.2rem;
    display: flex;
    gap: 1.6rem;
    background-color: #E5383B;
    width: 100vw;
    padding: 2rem 0;
    margin-left: calc((100% - 100vw) / 2);
    color: white;
}

.container-contato {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    gap: 1.6rem;
}

.contato-info h1 {
    font-size: 3.2rem;
}

.contato-info p {
    font-size: 1.6rem;
}

.form-group label {
    display: none;
}

#formulario {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-group input {
    height: 5.6rem;
    width: 100%;
    font-size: 1.6rem;
    border: none;
    padding: 1rem;
    font-family: "Pirata One", system-ui;
}

.form-group textarea {
    height: 13.3rem;
    width: 100%;

    border: none;
    padding: 1rem;
    font-family: "Pirata One", system-ui;
    font-size: 1.6rem;
}


#button-form {
    height: 5.1rem;
    width: 16.5rem;
    background-color: #660708;
    color: #FFFFFF;
    border: none;
    font-family: "Pirata One", system-ui;
    font-size: 1.6rem;
}

#button-form:disabled {
    background-color: #635454;
}

footer {
    display: flex;
    flex-direction: column;
    height: 10.2rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}